@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Overpass&family=PT+Sans+Narrow&family=Source+Sans+Pro&display=swap');

/*

    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;

*/

.footer-main{
    padding: 80px 0 80px 0;
    background: -webkit-linear-gradient(rgba(7, 7, 7, 0.815), rgba(19, 18, 18, 0.815)), url(../images/food1.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Overpass', sans-serif;
}
.footer-main .title-main{
    font-size: 40px;
}
.food-grid{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(350px, auto);
    grid-gap: 1rem;
    grid-template-areas: "a b c d";
    padding: 45 45 45 45;
    margin-top: 20px;
    margin-bottom: 5px;
}

.food-grid .itme1{
    grid-area: a;
}

.food-grid .itme2{
    grid-area: b;
}

.food-grid .itme3{
    grid-area: c;
}

.food-grid .itme4{
    grid-area: d;
}
.food-grid .itme1, .food-grid .itme2, .food-grid .itme3, .food-grid .itme4, .title{
    font-size: 20px;
    text-align: center;
}
.food-grid .itme1 .body{
    font-size: 18px;
    margin-top: 20px;
}

.food-grid.itme2, .food-grid.itme3, .body{
    margin-top: 20px;
    text-align: center;
    text-align: left;
    padding-left: 10px;
}
.food-grid.itme2, .food-grid.itme3, .body ul{
    list-style-type: none;
}
.food-grid.itme2, .food-grid.itme3, .body ul li a{
    text-decoration: none;
    color: white;
}
.food-grid .itme4 .body{
    font-size: 18px;
    padding-left: 10px;
    margin-top: 20px;
}
.footer-hr{
    border-top: 1px solid white;
}
.copy{
    text-align: center;
}
.nav-contenmt{
    background-color: rgb(37, 48, 56);
    height: 80px;
    font-family: 'Merriweather Sans', sans-serif;
}
.nav-logo{
    width: 50px;
    height: 50px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(255, 255, 255);
}
.logo-text{
    color: white;
    margin-left: 70px;
    margin-top: -40px;
    font-size: 25px;    
}
.nav-right{
    margin-left: 88%;
    margin-top: -40px;
}
.login-nav-btn{
    background-color: transparent;
    color: white;
    height: 40px;
    padding: 10px 50px 10px 50px;   
    color: white;
    border: 1px solid white;
    border-radius: 2px;     
    transition: 0.5s;
}
.login-nav-btn:hover{
    color: rgb(37, 48, 56);
    cursor: pointer;
    background-color: white;
}
.home-content{
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-image: -webkit-linear-gradient(rgba(63, 63, 63, 0.7), rgba(0, 0, 0, 0.7)), url("../images/fishcurry.jpg");
    color: white;
    padding-top: 100px;
    padding-bottom: 200px;
}
.home-content .title{
    font-size: 60px;
    margin-top: 200px;
    font-family: 'Overpass', sans-serif;
}
.home-info-btn{
    font-size: 20px;
    padding: 15px 50px 15px 50px;
    background: transparent;
    border-radius: 5px;
    border: 3px solid white;
    color: white;
    margin-top: 15px;
    transition: 0.5s;
}
.home-info-btn:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}
.main-content{
    margin: 150px 0 150px 0;
}
.food-info-grid{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(550px, auto);
    grid-gap: 5rem;
    grid-template-areas: "a b" "c d";
    padding: 45 45 45 45;
    margin-top: 20px;
    margin-bottom: 5px;
}

.food-info-grid .fitem1{
    grid-area: a;
    background-image: url("../images/dall1.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
.food-info-grid .fitem2{
    grid-area: b;
}
.food-info-grid .fitem3{
    grid-area: c;
}
.food-info-grid .fitem4{
    grid-area: d;
    background-image: url("../images/dryfish.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
.most-get-foods{
    margin: 150px 0 150px 0;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/hbun3.jpg");
    height: 90vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    font-family: 'PT Sans Narrow', sans-serif;
}
.most-get-foods .title{
    padding-top: 80px;
    color: white;
    font-size: 50px;
}
.most-food-grid{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(350px, auto);
    grid-gap: 1rem;
    grid-template-areas: "a b c d e f";
    padding: 45 45 45 45;
    margin-top: 20px;
    margin-bottom: 5px;
}
.mitem1, .mitem2, .mitem3, .mitem4, .mitem5, .mitem6{
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    position: relative;
    margin-right: 10px;
}

.most-food-grid .mitem1{
    grid-area: a;
    background-image: url("../images/cupcake1.jpg");
}

 .mitem1 .body{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 50px;
    opacity: 0;
    transition: 0.5s;
}
.mitem1:hover{
    cursor: pointer;
}
.mitem1:hover .body{
    visibility: visible;
    opacity: 0.7; 
    width: 150px;
    padding: 8px 15px;
}
.most-food-grid .mitem2{
    grid-area: b;
    background-image: url("../images/fried_rice.jpg");
}
.mitem2 .body{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 50px;
    opacity: 0;
    transition: 0.5s;
}
.mitem2:hover{
    cursor: pointer;
}
.mitem2:hover .body{
    visibility: visible;
    opacity: 0.7; 
    width: 150px;
    padding: 8px 15px;
}
.most-food-grid .mitem3{
    grid-area: c;
    background-image: url("../images/hbun3.jpg");
}
.mitem3 .body{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 50px;
    opacity: 0;
    transition: 0.5s;
}
.mitem3:hover{
    cursor: pointer;
}
.mitem3:hover .body{
    visibility: visible;
    opacity: 0.7; 
    width: 150px;
    padding: 8px 15px;
}
.most-food-grid .mitem4{
    grid-area: d;
    background-image: url("../images/cutlet2.jpg");
}
.mitem4 .body{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 50px;
    opacity: 0;
    transition: 0.5s;
}
.mitem4:hover{
    cursor: pointer;
}
.mitem4:hover .body{
    visibility: visible;
    opacity: 0.7; 
    width: 150px;
    padding: 8px 15px;
}
.most-food-grid .mitem5{
    grid-area: e;
    background-image: url("../images/cupcake2.jpg");
}
.mitem5 .body{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 50px;
    opacity: 0;
    transition: 0.5s;
}
.mitem5:hover{
    cursor: pointer;
}
.mitem5:hover .body{
    visibility: visible;
    opacity: 0.7; 
    width: 150px;
    padding: 8px 15px;
}
.most-food-grid .mitem6{
    grid-area: f;
    background-image: url("../images/dryfish.jpg");
}
.mitem6 .body{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 50px;
    opacity: 0;
    transition: 0.5s;
}
.mitem6:hover{
    cursor: pointer;
}
.mitem6:hover .body{
    visibility: visible;
    opacity: 0.7; 
    width: 150px;
    padding: 8px 15px;
}
.get-in{
    margin: 150px 0px 150px 0; 
}
.get-in .title{
    font-size: 40px;
}
.get-in .body{
    margin: 50px 350px 50px 350px;
}
.form-input{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 2px;
}
.get-in-btn{
    width: 100%;
    margin-top: 20px;
    padding: 10px 0 10px 0;
    border: none;
    background-color: orange;
    transition: 0.5s;
}
.get-in-btn:hover{
    background-color: rgb(179, 120, 12);
    cursor: pointer;
}
.page-footer{
    text-align: center;
    padding: 15px 0 15px 0;
    background-color: rgb(241, 241, 241);
    border-top: 1px solid rgb(209, 209, 209);
}
.login-content{
    padding: 150px 0 150px 0;
    background-image: -webkit-linear-gradient(rgba(78, 78, 78, 0.568), rgba(0, 0, 0, 0.7)), url("../images/hbun3.jpg");
    height: 90vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    font-family: 'PT Sans Narrow', sans-serif;
}
.reg-content{
    padding: 150px 0 150px 0;
    background-image: -webkit-linear-gradient(rgba(78, 78, 78, 0.568), rgba(0, 0, 0, 0.7)), url("../images/hbun5.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    font-family: 'PT Sans Narrow', sans-serif;
}
.full-form{
    border: 2px solid orange;
    margin: 0 250px 0 250px;
    padding: 50px 100px 50px 100px;
    border-radius: 5px;
    background-color: rgb(37, 48, 56);
    font-family: 'Merriweather Sans', sans-serif;
}
.full-form .title{
    margin-bottom: 20px;
    color: white;
}
.from-body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.from-body input{
    position: relative;
    width: 250px;
    height: 50px;
    background: transparent;
    border: 1px solid white;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 40px;
    color: white;
    font-size: 15px;
    padding-left: 10px;
}
.from-body span{
    position: absolute;
    color: white;
    padding: 15px;
    text-transform: uppercase;      
    transition: 0.5s;  
}

.from-body input:valid ~ span,
.from-body input:focus ~ span{
    color: white;
    transform: translateX(10px) translateY(-7px);
    font-size: 15px;
    padding: 0 10px;
    background-color: orange;
    letter-spacing: 1px;
}
.login-btn{
    width: 100%;
    height: 50px;
    color: white;
    font-weight: 600;
    background-color: orange;
    font-size: 15px;
    border: none;
    transition: 0.5s;
    border-radius: 5px;
}
.login-btn:hover{
    background-color: rgb(194, 135, 27);
    cursor: pointer;
}
 /* 
    ***************************************************************************************

                             commen laptop screen and small screens

                                            769px - 1400px

    ***************************************************************************************
*/

@media only screen and (min-device-width: 821px) and (max-device-width: 1400px) {
    .home-content{
        background-image: -webkit-linear-gradient(rgba(63, 63, 63, 0.7), rgba(0, 0, 0, 0.7)), url("../images/fried_rice.jpg");
    }
    .most-get-foods{
        height: 1100px;
    }
    .most-food-grid{
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(350px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a b c" "d e f";
        padding: 45 45 45 45;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .reg-content{
        padding: 150px 0 800px 0;
        background-image: -webkit-linear-gradient(rgba(78, 78, 78, 0.568), rgba(0, 0, 0, 0.7)), url("../images/hbun5.jpg");
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        font-family: 'PT Sans Narrow', sans-serif;
    }
}

/* 
    ***************************************************************************************

                                        iPads, Tablets

                                        481px — 768px

    ***************************************************************************************
*/

@media only screen and (min-device-width: 481px) and (max-device-width: 820px) {
    .food-grid{
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(300px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a b" "c d";
        padding: 45 45 45 45;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .nav-right{
        margin-left: 80%;
        margin-top: -40px;
    }
    .home-content{
        background-image: -webkit-linear-gradient(rgba(63, 63, 63, 0.7), rgba(0, 0, 0, 0.7)), url("../images/dryfish.jpg");
    }
    .food-info-grid{
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(550px, auto);
        grid-gap: 5rem;
        grid-template-areas: "a" "b" "c" "d";
        padding: 45 45 45 45;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .most-get-foods{
        height: 1400px;
    }
    .most-food-grid{
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(350px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a b" "c d" "e f";
        padding: 45 45 45 45;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .get-in .body{
        margin: 50px 150px 50px 150px;
    }
    .full-form{
        border: 1px solid white;
        margin: 0 100px 0 100px;
        padding: 50px 100px 50px 100px;
    }
}

/* 
    ***************************************************************************************

                                     commen mobile screen

                                            320x480

    ***************************************************************************************
*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .food-grid{
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(250px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a" "b" "c" "d";
        padding: 30 30 30 30;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .logo-text{
        color: white;
        margin-left: 70px;
        margin-top: -40px;
        font-size: 18px;    
    }
    .nav-right{
        margin-left: 60%;
        margin-top: -30px;
    }
    .home-content{
        background-image: -webkit-linear-gradient(rgba(63, 63, 63, 0.7), rgba(0, 0, 0, 0.7)), url("../images/cupcake2.jpg");
    }
    .food-info-grid{
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(550px, auto);
        grid-gap: 5rem;
        grid-template-areas: "a" "b" "c" "d";
        padding: 45 45 45 45;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .most-get-foods{
        height: 2500px;
    }
    .most-food-grid{
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(350px, auto);
        grid-gap: 1rem;
        grid-template-areas: "a" "b" "c" "d" "e" "f";
        padding: 45 45 45 45;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .get-in .body{
        margin: 20px;
    }
    .full-form{
        border: 1px solid white;
        margin: 0 10px 0 10px;
        padding: 50px 30px 50px 30px;
    }
    .reg-content{
        padding: 150px 0 800px 0;
        background-image: -webkit-linear-gradient(rgba(78, 78, 78, 0.568), rgba(0, 0, 0, 0.7)), url("../images/hbun5.jpg");
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        font-family: 'PT Sans Narrow', sans-serif;
    }
}
